/* import -files-css */

@import "/assets/styles/header.css";
@import "/assets/styles/footer.css";
@import "/assets/styles/app.css";
/* start landing page */

section.section-heading-container{
    margin-top: var(--margin-top);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 3.12rem;
}

section.section-heading-container .content-heading{
    display: grid;
    gap: 1rem;
}

.section-heading-container .content-heading .title-heading > h1{
color: #333;
font-size: 3rem;
font-weight: 700;
line-height: 1.3;
letter-spacing: -1px;
padding-bottom: 1rem;
}

.content-heading .title-heading  h1 + P {
    font-size: 1rem;
    font-weight: 400;
    color: #444;
    line-height: 1.8;
}

.content-heading .inner-content-heading{
    display: grid;
    gap: 1rem;
}

.content-heading .inner-content-heading .inner-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.content-heading .inner-content-heading .inner-content p{
    font-size: .9rem;
    font-weight: 400;
    color: #444;
}

.section-heading-container .content-heading .button{
    width: fit-content;
    height: fit-content;
}

.section-heading-container .heading img{
    width: 100%;
    height: 100%;
}


.inner-detail-heading {
    display: fles;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 12px 0;
}

.inner-detail-heading .detail > p:first-of-type{
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    /* text-align: center; */
}

.inner-detail-heading .detail > p:last-of-type{
    color: #555;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 4px;
    /* text-align: center; */
}
