/* import -files-css */

@import "/assets/styles/header.css";
@import "/assets/styles/footer.css";
@import "/assets/styles/app.css";
/* start landing page */

section.section-heading-container{
    padding: var(--padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 3.12rem;
}

section.section-heading-container .content-heading{
    display: grid;
    gap: 1rem;
}

section.section-heading-container .content-heading .title-heading > h1{
font-size: 3rem;
font-weight: 700;
line-height: 58px;
}
.content-heading .inner-content-heading .inner-content{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

section.section-heading-container .content-heading .inner-content-heading i{
    border: 1px solid #379b16;
    background-color: #d7ebd0;
    font-size: 15px;
    color: #379b16;
    padding: .2rem;
    border-radius: 50%;
}

section.section-heading-container .content-heading .button{
    width: fit-content;
}

section.section-heading-container .heading img{
    width: 100%;
    height: 100%;
}


