header.header-container{
    padding: 1rem 0;
    background-color: #fff;
    /* box-shadow: 0 4px 12px rgba(0,0,0,.1); */
}

.scroll{
   box-shadow: 0 4px 12px rgba(0,0,0,.1);
  position: sticky;
  top: 0;
}


header.header-container .nav-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-container .nav-wrapper a.logo{
  flex: 1;
}

.header-container .nav-wrapper a.logo + .toggle-menu{
  font-size: 1.50rem;
}

.header-container .nav-wrapper a.logo + .toggle-menu:hover{
  cursor: pointer;
}

@media (min-width: 992px){
  .header-container .nav-wrapper a.logo + .toggle-menu{
    display: none;
  }

}

.header-container .nav-wrapper ul.nav-menu{
  flex: 2;
  display: flex;
  align-items: center;
}

@media (max-width: 992px){
  .header-container .nav-wrapper ul.nav-menu{
    display: none;
  }
}

.header-container .nav-wrapper ul.nav-menu li a{
  font-size: 1rem;
  font-weight: 400;
}

.header-container .nav-wrapper ul.nav-menu li:first-of-type > a{
  margin-right: 1rem;
}

.header-container .nav-wrapper .auth-container{
  flex: 6;
  display: grid;
  justify-content: end;
  align-items: center;
  grid-template-columns: auto auto;
  gap: 0 .4rem;
}

@media (max-width : 992px){
  .header-container .nav-wrapper .auth-container{
    display: none;
  }
}

.header-container .nav-wrapper .auth-container .auth-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .4rem;
  align-items: center;
}

.nav-wrapper .auth-container .auth-content .sign-in.button:hover{
  background-color: #be4d85;
  transition: .3s;
}

.nav-wrapper .auth-container .auth-content button:first-of-type{
  background-color: #ffff;
  color: #a99a9a;
  border: 1px solid #ebebeb;
}

.nav-wrapper .auth-container .auth-content button:first-of-type:hover{
  background-color: #edf6f9;
  color: #000;
  transition: .3s;
}

.nav-wrapper button:last-of-type{
  background-color: #ffff;
  color:#a99a9a;
}

button.dropdown-button {
  display: flex;
  gap: 0.4rem;
}


.header-container .dropdown-wrapper{
  position: relative;
}

.header-container .dropdown-wrapper  .dropdown-language{
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
  right: 0;
  top: 100%;
  border-radius: 8px;
  z-index: 1;
  }


  
  .dropdown-language a {
    color: #777;
    padding: .5rem 1rem;
    display: block;
    text-align: left;
  }

  .dropdown-language a:hover {
    background-color: #ddd;
  }
  
    
  .dropdown-wrapper:hover .dropdown-language {
      display: block;
    }

    
  .wrapper_side_bar{
      background-color: #fff;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      width: 300px;
      height: 100%;
      z-index: 1000;
      position: fixed;
      z-index: 100;
      top: 0;
      display: none;
    }
    .side-bar{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .wrapper_side_bar > a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.50rem;
    }


    .wrapper_side_bar > a i{
      font-size: 20px;
    }

    .wrapper_side_bar .dropdown-slider{
        gap: 1rem;
        display: grid;
        margin-top: 2rem;
    }

    .wrapper_side_bar .dropdown-slider > div.title{
      color: #777;
      text-align: center;
      font-size: 1.2rem;
    }
    .wrapper_side_bar .dropdown-slider .dropdown-language-slider{
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 1rem;
    }

    .wrapper_side_bar > a{
      padding: 0 1rem;
    }

    .wrapper_side_bar .dropdown-slider .dropdown-language-slider,
    .wrapper_side_bar .auth-content{
      padding:  1rem;
    }


    .wrapper_side_bar .dropdown-slider .dropdown-language-slider button{
      font-size: 1rem;
      padding: .4rem;
      background-color: transparent;
      color: #333;
      border: 1px solid #ddd;
    }

    .wrapper_side_bar ul.nav-menu{
      text-align: center;
      display: grid; 
      color: #333;
    }

    .wrapper_side_bar ul.nav-menu li a{
      padding: 1.38rem 0;
      color: #333;
      border-bottom: 1px solid #e0e0e0;
    }

    .wrapper_side_bar ul.nav-menu li:first-child > a{
      border-top: 1px solid #e0e0e0;
    }
    
    .wrapper_side_bar .auth-content{
      display: grid;
      gap: 1rem;
      font-size: 1rem;
    }

    .wrapper_side_bar .auth-content button{
      padding: .7rem 0;
    }

    .wrapper_side_bar .auth-content button:last-child{
      background-color: transparent;
      color: #333;
      border: 1px solid #ddd;
    }


